
    <!--end: Container -->
    </div>
    </div>
    <footer class="text-muted bg-light mt-auto pt-3 pb-1 text-center">
        <div class="container">
            <p>Copyright by © Dome Apps 2023 </p>
        </div>
    </footer>

<!--end: Cover Container -->

    </div>
{% load static %}    
<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-validate/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/vendor/dataTables.bootstrap5.js' %}"></script>


