
<div class="row">
    <div class="col-md-6 mb-2">
        <label for="jobNumber">Part Name</label>
        <input class="form-control d-block w-100" id="jobNumber" name="Name" required="" value="">
        <div class="invalid-feedback"> Part Name is required.</div>
    </div>

    <div class="col-md-6 mb-3">
        <label for="material">hieght</label>
        <input type="number" class="form-control d-block w-100" id="hieght" name="hieght" required="" value="">
        <div class="invalid-feedback">hieght is required.</div>
    </div>

    <div class="mb-3 col-md-6">
        <label for="project">width</label>
        <input type="number" class="form-control" id="project" name="width" required="" value="">
        <div class="invalid-feedback" style="width: 100%;"> width is required.</div>
    </div>
    <div class="mb-3 col-md-6">
        <label for="color">quantity</label>
        <input type="number" class="form-control" id="color" name="qty" required="" value="">
        <div class="invalid-feedback" style="width: 100%;"> quantity is required.</div>
    </div>
</div>
<div class="row">
    <div class="mb-3 col-md-6">
        <label for="client">bend</label>
        <input type="number" class="form-control" name="bend" id="bend"  value= 0 >
    </div>
    <div class="mb-3 col-md-6">
        <label for="client">new_bend</label>
        <input type="number" class="form-control" name="new_bend" id="new_bend"  value= 0 >
    </div>
</div>
<div class="row">
    <div class="mb-3 col-md-6">
        <label for="edgeDistance">bend_top</label>
        <input type="number"  class="form-control" name="bend_top" id="bend_top" required="" value="1">
        <div class="invalid-feedback"> Please enter Valid bend_top.</div>
    </div>
    <div class="mb-3 col-md-6">
        <label for="maxDistance">bend_right</label>
        <input   class="form-control" name="bend_right" id="bend_right" required="" value="1">
        <div class="invalid-feedback"> Please enter Valid bend_right.</div>
    </div>

</div>
<div class="row">
    <div class="col-md-6 mb-2">
        <label for="maxStiffenerDistance">bend_left</label>
        <input class="form-control d-block w-100" id="bend_left" name="bend_left" required="" value="1">
        <div class="invalid-feedback"> Please Enter valid bend_left.</div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="stiffenerType">bend_down</label>
        <input class="form-control d-block w-100" id="stiffenerType" name="bend_down" required="" value="1">
        <div class="invalid-feedback"> bend_down</div>
</div>

<div class="row">
    <div class="col-md-6 mb-2">
        <label for="Stiffenerblock">angle_plan_right</label>
        <input class="form-control d-block w-100" id="angle_plan_right" name="angle_plan_right"  value="1">
    </div>
    <div class="col-md-6 mb-3">
        <label for="angle plan block">angle_plan_left</label>
        <input class="form-control d-block w-100" id="angle_plan_right" name="angle_plan_left"  value="1">
</div>


<div class="mb-2 col-md-6">
        <div class="form-group">
            <label class="form-check-label" for="approved"> angle_plan_down</label>
            <input class="form-control" type="text" value= '1' name="angle_plan_down" id="angle_plan_down" >
        </div>
    </div>
    <div class="mb-2 col-md-6">
        <label class="form-check-label" for="checked">
            angle_plan_up
        </label>
        <input class="form-control" type="text" value="1" name="angle_plan_up" id="angle_plan_up"  >
        
</div>


